/* CPU Description Page */

table.desc
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: #416b73;
	border-collapse: collapse;
	border-spacing: 2xp;
}

table.desc td
{
	padding: 5px;
}

#outer {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: #416b73;
	border-collapse: collapse;
	border-spacing: 2xp;
	padding: 0px;
}

.cpumark {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: #416b73;
	border-collapse: collapse;
	border-spacing: 2xp;
	padding: 0px;
}

table.price
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: #416b73;
	border-collapse: collapse;
	border-spacing: 2xp;
}

table.price td, table.price th {
	border-width: 2px;
	border-color: #416b73;
	border-style: dashed;
	padding: 2px;
	text-align: center;
}

.cpuname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	border-bottom: solid #b53118 3px;
	padding: 1px;
}

td.valuesmall {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding:0px;
	border-bottom: none;
	background-color:transparent;
	font-size: 65%;
	text-align: left;
	width: 300px;
}

table.chartsmall {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.subcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: italic;
}

/* CPU MARK CHARTS */

table.chart {
	/*background-image: url(images/stripe-bg.png);
	background-repeat: repeat;
	background-position: left top;
	*/
	border:0;
	margin-top: 20px;
	font-size: 13px;
	width: 100%;
}

caption.chart
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: 200;
	padding-bottom: 15px;
}

th.chart {
	text-align: left;
	border:0;
	font-weight: bold;
	padding: 4px;
	border-bottom: 1px solid #eee;
}

.auraltext
{
text-align: left;
}

td.chart /* Name Label */
{
	padding: 6px 4px;

	text-align: left;
    border-bottom: 1px solid #eee;
	box-sizing: border-box;
}


table.chart tr > td:nth-child(3) /* Name Label */
{
 	display: none;
}


td.value /* Rating */
{
	border-bottom: 1px solid #eee;
	padding:0px;
	background-color:transparent;
	font-size: 80%;
	text-align: left;
    width: 60%;
	box-sizing: border-box;
	vertical-align: middle;
}



td.value img {
	vertical-align: middle;
	margin: 1px 1px 1px 0px;
}

.notes {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

/* The following replaces the image bars with CSS bars with PT8 Charts */

/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

.meter
{
	height: 13px;  /* Can be anything */
	font: 10pt/10pt Arial;
    width: 100%;
	position: relative;
	/*background: #555;*/
	/*margin: 0px 0 0px 0;  Just for demo spacing
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px; */
	padding: 2px;
	/*
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	*/
}

.meter > span
{
	display: inline;
	float: left;
	height: 100%;
	margin: 0 10px 0 0;
	/*
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
    */
	background-color: rgb(43,194,83);
	/*
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );

	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );

	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	*/
	position: relative;
	overflow: hidden;
}

/* This is supposed to do the striping */

/*

.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
	   -webkit-gradient(linear, 0 0, 100% 100%,
	      color-stop(.25, rgba(255, 255, 255, .2)),
	      color-stop(.25, transparent), color-stop(.5, transparent),
	      color-stop(.5, rgba(255, 255, 255, .2)),
	      color-stop(.75, rgba(255, 255, 255, .2)),
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image:
		-moz-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .2) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .2) 50%,
	      rgba(255, 255, 255, .2) 75%,
	      transparent 75%,
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}


@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
*/
/* All the pretty colors */

.pink > span
{
	background-color: #FFB6C1;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #FFB6C1),color-stop(1, #FF69B4));
	background-image: -webkit-linear-gradient(top, #FFB6C1, #FF69B4);
  background-image: -moz-linear-gradient(top, #FFB6C1, #FF69B4);
  background-image: -ms-linear-gradient(top, #FFB6C1, #FF69B4);
  background-image: -o-linear-gradient(top, #FFB6C1, #FF69B4);
  	*/
}

.yellow > span
{
	background-color: #F0E68C;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #F0E68C),color-stop(1, #FFFF00));
	background-image: -webkit-linear-gradient(top, #F0E68C, #FFFF00);
  background-image: -moz-linear-gradient(top, #F0E68C, #FFFF00);
  background-image: -ms-linear-gradient(top, #F0E68C, #FFFF00);
  background-image: -o-linear-gradient(top, #F0E68C, #FFFF00);
  	*/
}

.green > span
{
	background-color: #2E8B57;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #2E8B57),color-stop(1, #228B22));
	background-image: -webkit-linear-gradient(top, #2E8B57, #228B22);
  background-image: -moz-linear-gradient(top, #2E8B57, #228B22);
  background-image: -ms-linear-gradient(top, #2E8B57, #228B22);
  background-image: -o-linear-gradient(top, #2E8B57, #228B22);
  	*/
}

.light-purple > span
{
	background-color: #DA70D6;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #DA70D6),color-stop(1, #BA55D3));
	background-image: -webkit-linear-gradient(top, #DA70D6, #BA55D3);
  background-image: -moz-linear-gradient(top, #DA70D6, #BA55D3);
  background-image: -ms-linear-gradient(top, #DA70D6, #BA55D3);
  background-image: -o-linear-gradient(top, #DA70D6, #BA55D3);
  	*/
}

.red > span
{
	background-color: #FF6347;
	/*
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FF6347),color-stop(1, #FF0000));
	background-image: -webkit-linear-gradient(top, #FF6347, #FF0000);
	background-image: -moz-linear-gradient(top, #FF6347, #FF0000);
	background-image: -ms-linear-gradient(top, #FF6347, #FF0000);
	background-image: -o-linear-gradient(top, #FF6347, #FF0000);
	*/
}

.turquoise > span
{
	background-color: #20B2AA;
	/*
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #20B2AA),color-stop(1, #008080));
	background-image: -webkit-linear-gradient(top, #20B2AA, #008080);
	background-image: -moz-linear-gradient(top, #20B2AA, #008080);
	background-image: -ms-linear-gradient(top, #20B2AA, #008080);
	background-image: -o-linear-gradient(top, #20B2AA, #008080);
	*/
}

.orange > span
{
	background-color: #FFA500;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #FFA500),color-stop(1, #FF8C00));
	background-image: -webkit-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -moz-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -ms-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -o-linear-gradient(top, #FFA500, #FF8C00);
  	*/
}

.brown > span
{
	background-color: #CD853F;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #CD853F),color-stop(1, #8B4513));
	background-image: -webkit-linear-gradient(top, #CD853F, #8B4513);
  background-image: -moz-linear-gradient(top, #CD853F, #8B4513);
  background-image: -ms-linear-gradient(top, #CD853F, #8B4513);
  background-image: -o-linear-gradient(top, #CD853F, #8B4513);
  	*/
}

.purple > span
{
	background-color: #9932CC;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #9932CC),color-stop(1, #483D8B));
	background-image: -webkit-linear-gradient(top, #9932CC, #483D8B);
  background-image: -moz-linear-gradient(top, #9932CC, #483D8B);
  background-image: -ms-linear-gradient(top, #9932CC, #483D8B);
  background-image: -o-linear-gradient(top, #9932CC, #483D8B);
  	*/
}

.blue > span
{
	background-color: #4169E1;
	/*
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #4169E1),color-stop(1, #0000FF));
	background-image: -webkit-linear-gradient(top, #4169E1, #0000FF);
  background-image: -moz-linear-gradient(top, #4169E1, #0000FF);
  background-image: -ms-linear-gradient(top, #4169E1, #0000FF);
  background-image: -o-linear-gradient(top, #4169E1, #0000FF);
  	*/
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}

       	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

       	.hardware_test {
       		padding: 20px;
       		clear: both;
       	}

       	.hardware_test .header_block {
       		height: 200px;
       		width: 100%;
       	}

       	.hardware_test .hdd_block {
       		background: url(https://ram.by/img/ratings/back_hdd.jpg) no-repeat center top;
        }

       	.hardware_test .cpu_block {
       		background: url(https://ram.by/img/ratings/back_cpu.jpg) no-repeat center top;
        }

       	.hardware_test .gpu_block {
       		background: url(https://ram.by/img/ratings/back_gpu.jpg) no-repeat center top;
        }

		.hardware_test .header_block .img-overlay{
		    width: 100%;
		    height: 100%;
		    background: rgba(11, 147, 118, 0.7);
		}

       	.hardware_test .header_block .img-overlay h1 {
       		font-family: 'Roboto';
			font-size: 40pt;
			font-weight: bold;
			text-decoration: none;
			color: #fff;
			line-height: 1.17em;
			margin: 0;
			padding: 50px 0 0;
			text-align: center;
			text-shadow: 1px 1px 2px #138751;
       	}

       	.hardware_test .header_block .img-overlay h2 {
       		font-family: 'Roboto';
			font-size: 12pt;
			font-weight: 400;
			text-decoration: none;
			color: #fff;
			margin: 0;
			padding: 20px 0 0;
			text-align: center;
			text-shadow: 1px 1px 2px #138751;
       	}

       	.hardware_test .text_block {
       		padding: 40px 20px;
			font: 13pt Arial;
			line-height: 22pt;
       	}

       	.hardware_test .text_block h2 {
       		font-family: 'Roboto';
			font-size: 18pt;
			font-weight: 500;
			text-decoration: none;
			color: #333;
			margin: 0;
			padding: 40px 0 0;
			text-align: center;
       	}

       	.hardware_test .table_block {
       		padding: 0px 20px;
       	}

       	.hardware_test .table_block .table_header {
       		width: 100%;
       		border-bottom: 1px solid #eee;
       		padding: 10px 0;
       		font-weight: 700;
       	}

       	.hardware_test .table_block .table_header .header_name {
       		width: 40%;
       		float: left;
       	}

       	.hardware_test .table_block .table_header .header_rate {
       		width: 60%;
       		float: left;
       	}

       	.hardware_test .table_block .table_body {
       		width: 100%;
       		border-bottom: 1px solid #eee;
       		padding: 10px 0;
       	}

       	.hardware_test .table_block .table_body .body_name {
       		width: 40%;
			box-sizing: border-box;
			float: left;
			font: 11pt Arial;
       	}

       	.hardware_test .table_block .table_body .body_rate {
       		width: 60%;
			box-sizing: border-box;
			float: left;
			font: 11pt Arial;
       	}

       	.hardware_test .table_block .table_body .body_rate span {
       		display: block;
			height: 17px;
			float: left;
			margin: 0px 10px 0 0;
       	}

       	.hardware_test .clear {
       		clear: both;
       	}

		.hardware_test .pink {
			background-color: #FFB6C1;
		}

		.hardware_test .yellow	{
			background-color: #F0E68C;
		}

		.hardware_test .green	{
			background-color: #2E8B57;
		}

		.hardware_test .light-purple {
			background-color: #DA70D6;
		}

		.hardware_test .red {
			background-color: #FF6347;
		}

		.hardware_test .turquoise	{
			background-color: #20B2AA;
		}

		.hardware_test .orange {
			background-color: #FFA500;
		}

		.hardware_test .brown	{
			background-color: #CD853F;
		}

		.hardware_test .purple {
			background-color: #9932CC;
		}

		.hardware_test .blue	{
			background-color: #4169E1;
		}

		@media screen and (min-width: 960px) and (max-width: 1199px) {
			.hardware_test .header_block .img-overlay h1 {
				font-size: 30pt;
			}
		}

		@media screen and (min-width: 720px) and (max-width: 959px) {
			.hardware_test .header_block .img-overlay h1 {
				font-size: 24pt;
			}
        }

		@media screen and (min-width : 0px ) and (max-width : 719px ) {
	       	.hardware_test .header_block {
	       		height: 160px;
	       	}

			.hardware_test .header_block .img-overlay h1 {
				font-size: 17pt;
			}

			.hardware_test .header_block .img-overlay h2 {
				font-size: 9pt;
			}
		}
